<!DOCTYPE html>

<html lang="fr">

  <head>

    <meta charset="UTF-8" />

    <title>Meyboom Artist-Run Spaces</title>
    <meta name="description" content="Meyboom is an artist run-space that brings together a community of individuals and collectives working in different fields that formed over the years since 2013">


    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/typography.css" />
    <link rel="stylesheet" type="text/css" href="css/svg-styling.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

    <section id="map">

      <div class="fixed">

      <header>
        <h1><a href="/">Meyboom Artist-Run Spaces</a></h1>
      </header>
      
      <main>
        {{ svg|safe }}
      </main>
      
      <footer>
        <address>
          <a href="https://www.openstreetmap.org/way/30145405" target="_blank">Boulevard Pachécolaan 34-2, Brussels</a>
        </address>
        <div class="logos">
          <img class="logo" alt="logo for the Vlaamse Gemeenschapscommissie" src="css/vgc_logo_n_verticaal_transparant_black.png">
        </div>
      </footer>

      </div>

    </section>

    <section id="descriptions">

      <header>
        {{ intro|safe }}
      </header>

      <main>
        {{ bios|safe }}
      </main>

      <a href="#top" class="top-button">&uarr;</a>

    </section>

  </body>

</html>
