
:root{
  --acc-clr: black;

  --stroke-width: 1.25px;
  --stroke: black;
  --surface: black;
  --filling: black;

  --lh: 1.35rem;

  /* night */
  /* --acc-clr: white;
  --stroke: white;
  --surface: white;
  --filling: white; */
}

/* LAYOUT */
html{
  scroll-behavior: smooth;
  background: oldlace;

  /* night */
  /* background: midnightblue ;
  color: white; */
}
body{
  margin: 0;

  display: grid;
  grid-template-columns: 50% 50%;

}

/* LAYOUT MAP SECTION */
.fixed{
  position: sticky;
  top: 0;
  overflow: visible;
  padding: calc(var(--lh) * 1) 0;
}

section#map{
  padding: 0 calc(var(--lh) * 1);
}

section#map header{
  margin-bottom: calc(var(--lh) * 1);
}

address{
  text-align: center;
  font-family: monospace;
  font-style: normal;
}

/* LAYOUT DESCRIPTION SECTION */

section#descriptions{
  padding: calc(var(--lh) * 1);
  padding-right: calc(var(--lh) * 2);
}

section#descriptions header{
  border: var(--stroke-width) solid var(--stroke);
  padding: calc(var(--lh) * 1);
  margin-bottom: calc(var(--lh) * 2);
  background: white;
}

/* button */
a.top-button{
  /* display: none; */
  position: fixed;
  bottom: calc(var(--lh) * 1);
  right: calc(var(--lh) * 0.5);
  text-decoration: none;
  font-family: "Times New Roman", serif;

  font-size: 3rem;
  padding: 0.1em 0.3em 0.25em;
  line-height: 1;
  background: white;
  border: var(--stroke-width) solid var(--acc-clr);
  border-radius: 50%;
}

/* PERMALINKS */
.headerlink{
  display: none;
}
h2{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
h2 .headerlink{
  display: block;
  text-decoration: none;
}
h2 + h2 .headerlink{
  display: none;
}

/* LOGOS */
.logos{
  margin-top: var(--lh);
  padding: 0 var(--lh);
  display: flex;
  /* justify-content: center; */
  gap: var(--lh);
}
.logos > img.logo{
  max-width: 32px;
}

/* LAYOUT BREAKING */
@media only screen and (max-width: 60rem) {
  body{
    display: block;
  }

  section#descriptions{
    padding-right: calc(var(--lh) * 1);
  }

  a.top-button{
    display: block;
  }

  .logos > img.logo{
    max-width: 24px;
  }
}

/* MOBILE */
@media only screen and (max-width: 40rem) {
  :root{
    --stroke-width: 1px;
  }
  .fixed{
    padding-bottom: 0;
  }
}
