
svg {
  cursor: crosshair;
  overflow: visible;
}

/* the studios */
svg a {
  cursor: crosshair;
}
path.surface {
  fill: var(--surface);
  fill-opacity: 0.06;
}

text{
  /* fill: black; */
  fill: var(--stroke);

  font-family: "Times new roman";
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 1.25;

  transform: translateX(0.2em);
}

/* the outlines */
path.walls{
  fill: none;
  stroke: var(--stroke);
  vector-effect: non-scaling-stroke;
  stroke-width: var(--stroke-width);
}

.filling{
  fill: var(--filling);
  fill-opacity: 0.18;
}

/* global outline */
.outline {
  fill: none;
  stroke: var(--acc-clr);
  vector-effect: non-scaling-stroke;
  stroke-width: var(--stroke-width);
}


/* the picto */
.picto{
  fill: transparent;
  /* stroke: var(--stroke); */
  stroke: var(--acc-clr);
  vector-effect: non-scaling-stroke;
  stroke-width: var(--stroke-width);
}

/* the doors with opening animations */
path.door{
  --angle: 45deg;

  fill: none;
  stroke: var(--stroke);
  vector-effect: non-scaling-stroke;
  stroke-width: var(--stroke-width);

  transform-box: fill-box;
}
@keyframes doors-anim-pos {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(var(--angle));
  }
}
@keyframes doors-anim-neg {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(calc(var(--angle) * -1));
  }
}

path.door--top-left{
  transform-origin: top left;
  animation: doors-anim-neg 4s;
  transform: rotate(calc(var(--angle) * -1));
}
path.door--top-right{
  transform-origin: top right;
  animation: doors-anim-pos 4s;
  transform: rotate(var(--angle));
}
path.door--bottom-right{
  transform-origin: bottom right;
  animation: doors-anim-neg 4s;
  transform: rotate(calc(var(--angle) * -1));
}
path.door--bottom-left{
  transform-origin: bottom left;
  animation: doors-anim-pos 4s;
  transform: rotate(var(--angle));
}
path.door--right-top{
  transform-origin: top right;
  animation: doors-anim-neg 4s;
  transform: rotate(calc(var(--angle) * -1));
}
path.door--right-bottom{
  transform-origin: bottom right;
  animation: doors-anim-pos 4s;
  transform: rotate(var(--angle));
}
path.door--left-bottom{
  transform-origin: bottom left;
  animation: doors-anim-neg 4s;
  transform: rotate(calc(var(--angle) * -1));
}
path.door--left-top{
  transform-origin: top left;
  animation: doors-anim-pos 4s;
  transform: rotate(var(--angle));
}


/* ---> when hovering */
:is(.room:hover, .room:focus, .room:active) .surface{
  fill: white;
  fill-opacity: 1;
}

/* --- mobile --- */
@media only screen and (max-width: 600px) {
  text.studioID {
    font-size: 18px;
  }
}
