
/* BASIC TYPOGRAPHY */

html{
  /* 16px --> 18px */
  font-size: 1.125em;
}
@media only screen and (max-width: 600px) {
  html{
    /* but 16px on mobile */
    font-size: 1em;
  }
}

body{
  font-family: serif;
  /* bigger line-height */
  line-height: var(--lh);
}

h2,h3,h4,h5,h6{
  /* grid-align based on the line-height */
  margin: calc(var(--lh) * 1) 0 calc(var(--lh) * 1);
}
p{
  margin: calc(var(--lh) * 1) 0;
}
:is(h2,h3,h4,h5,h6,p):first-child{
  /* no top margin to first child */
  margin-top: 0;
}
:is(h2,h3,h4,h5,h6,p):last-child{
  /* no top margin to first child */
  margin-bottom: 0;
}

/* CUSTUMISATION */

/* selection color */
*::selection{
  background: var(--acc-clr);
  color: white;
}

/* links */
a,
a:visited{
  color: var(--acc-clr);
  position: relative;
  font-family: monospace;
  text-decoration-thickness: var(--stroke-width);
  font-style: normal;
}

/* the external ones are in a blockquote */
blockquote a::after{
  content: "↗";
  position: absolute;
  left: calc(100% + 0.2em);
  bottom: -0.1em;
  font-size: 1.5em;
}

/* titles */
h1{
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
h1 a{
  font-family: inherit;
  text-decoration: none;
}
h1 a::after{
  content: none !important;
}

h2,h3,h4,h5,h6{
  font-size: 1rem;
}

/* the studio titles */
h2{
  text-transform: uppercase;

  /* text-align: center; */
  font-size: 1rem;
  color: var(--stroke);
  font-weight: normal;

  margin-top: calc(calc(var(--lh) * 1) - var(--stroke-width));
  /* padding-top: calc(var(--lh) * 1rem); */
  border-top: var(--stroke-width) solid var(--stroke);

  margin-bottom: 0;
}

h2 + h3{
  margin-top: calc(var(--lh) * 1);
}

/* the group/member titles */
h2 + h2{
  /* in case the studio number also has a name */
  border: 0;
  margin-top: 0;
}

/* mega trick so the links are glued to the titles */
h3{
  margin-bottom: 0;
}
blockquote{
  display: block;
  margin: 0;
}

/* mobile style */

@media only screen and (max-width: 600px) {
  h1{
    margin-left: 1em;
    margin-right: 1em;
  }
}
